
@import url("./global.css");



/*contact*/

footer {
    margin-top: 1000px;
}

.main-contact a {
    font-size: 22px;
    color: black;
    text-decoration: none;
}

.main-contact a:hover {
  color: #057742;
  text-decoration: underline;
  
}