
@import url("./global.css");


/*REFERENTIES*/


.main-referenties h2 {
    font-size: 30px;
    margin: 15px 20px 5px 20px;
}

.main-referenties h3 {
    font-size: 25px;
    margin: 5px;
}

.main-referenties p {
    font-size: 20px;
    margin: 5px;
}

footer {
    margin-top: 1000px;
}