
@import url("./global.css");


/*REFERENTIES*/


.main-referenties h3 {
    /*font-size: 35px;*/
    margin: 15px 20px 15px 20px;
   
}

.main-referenties h4 {
    /*font-size: 25px;*/
    margin: 5px;
    margin-top: 20px;
}

.main-referenties p {
    /*font-size: 20px;*/
    margin: 5px;
}
